@model IEnumerable<EnrollmentDateVM>

@{
    ViewData["Title"] = "EnrollmentDateReport";
}

<h1>Első jelentkezések riport</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Első jelentkezés
            </th>
            <th>
                Hallgatók száma
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.EnrollmentDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @item.StudentCount
                </td>
            </tr>
        }
    </tbody>
</table>